{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %} 

<div class="row align-items-md-stretch">
    <div class="col-md-12">
        <div class="p-5 bg-light">
            <div class="container">
            <h1 class="display-3">Bienvenido!</h1>
            <p class="lead">Comenzar a ingresar usuarios</p>
            <button class="btn btn-outline-primary" type="button">Comenzar</button>
            </div>
            
        </div>
    </div>
           
</div>


{% endblock %}